body {
  margin: 0;
  background-image: url("record.png");
  background-repeat: repeat;
}

.header {
  background-color: #264653;
  color: #fff;
  text-align: center;
}

.main {
  background-color: lightgrey;
  padding: 1em;
}
